* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1.2rem;
}
header {
    background-color: mediumorchid;
    color: white;
    height: 100px;
    padding: 2rem 1rem;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 400px;
    margin: 20px;
}

#todos {
    width: 400px;
}

